{% load static %}
<head>
    <style>
        .card-img-top {
            height: 200px; /* Adjust this value to your desired height */
            object-fit: cover;
        }
    </style>
</head>

<div class="container">
    <h1 class="mb-2">Apartment Listings</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for apartment in apartments %}
            <div class="col">
                <a href="{% url 'apartment_detail' apartment.id %}" class="card-link">
                    <div class="card h-100">
                        {% with apartment.photo_set.first as photo %}
                            <img src="{{ photo.photo.url }}" class="card-img-top" alt="{{ apartment.address }}">
                        {% endwith %}
                        <div class="card-body">
                            <h5 class="card-title">{{ apartment.address }}</h5>
                            <p class="card-text">
                                {{ apartment.description }} <br>
                                <strong>Rent:</strong> {{ apartment.rent }} <br>
                                <strong>Number of Beds:</strong> {{ apartment.num_beds }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>