{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h2>Registration</h2>
    <form method="post" action="{% url 'registration' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html> {% endcomment %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Wireframe - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A600%2C700"/>
  <link rel="stylesheet" href="./styles/wireframe-1.css"/>
</head>
<body>
<div class="wireframe-1-5cA">
  <p class="register-CAz">Register</p>
  <p class="please-select--4DC">Please Select:</p>
  <div class="auto-group-iezk-NUn">
    <p class="im-a-student-im-a-landlord--VpJ">
    I’m a student: 
    <br/>
    I’m a landlord: 
    </p>
    <div class="auto-group-2ahc-c8E">
      <div class="auto-group-6wm4-kVL">
        <div class="ellipse-2-6JJ">
        </div>
      </div>
      <div class="auto-group-arvi-aDU">
        <div class="ellipse-3-gGW">
        </div>
      </div>
    </div>
  </div>
  <div class="frame-12-1pa">Name: </div>
  <div class="frame-13-tNa">Email:</div>
  <div class="frame-14-BsU">Password:</div>
  <div class="frame-15-U5t">Confirm Password: </div>
  <div class="frame-16-6sx">Create Account</div>
</div>
</body>
